<br>
<h1 align="center">Blocipedia: Social, Markdown Wikis</h1>
<div class="jumbotron">
  <p align="center">Create and share Markdown Wikis.</p>
  <p align="center"> <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> </p>
</div>

<div class="row text-center">
  <div class="col-md-6">
    <p> Create as many public wikis as you want! </p>
    <p> Free Plan </p>
  </div>
  
  <div class="col-md-6">
    <p> Create private wikis! </p>
    <p> Premium Plan </p>
  </div>
</div>